
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox" >
    <div class="carousel-item active" >
      <a href="/main/restaurants" ><img class="d-block img-fluid" src="http://www.bar-us.ru/images/shweden_nyam_im/4_85481358.jpg" alt="First slide"></a>
      <div class="carousel-caption d-none d-md-block">
        <h3><%=t('Рестораны', default: 'Рестораны')%></h3>
      </div>
    </div>
    <div class="carousel-item">
      <a href="/main/restaurants" ><img class="d-block img-fluid" src="http://www.beermarket.club/Moi_photo/Birmarket_Zal1_003.jpg" alt="Second slide"></a>
      <div class="carousel-caption d-none d-md-block">
        <h3><%=t('Бары', default: 'Бары')%></h3>
      </div>
    </div>
    <div class="carousel-item">
      <a href="/main/restaurants" ><img class="d-block img-fluid" src="http://bmg-consult.ru/sites/default/files/img/slide/slide1.jpg" alt="Third slide"></a>
      <div class="carousel-caption d-none d-md-block">
        <h3><%=t('Кафе', default: 'Кафе')%></h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
